@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Nunito+Sans:wght@400;600;700;800&family=Playfair+Display:wght@700&display=swap");

body {
  background: url(../img/image-left.png) no-repeat right top;
  background-size: 45vw;
  font: 400 22px/1.9 "Nunito Sans", sans-serif;
  color: #968fab;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: #44224b;
  font-weight: 700;
  margin: 0 0 70px;
}
h1 {
  font-size: 76px;
  font-weight: 600;
}
a {
  text-decoration: none;
}
p {
  padding-bottom: 54px;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.4;
}
a:hover {
  color: #44224b;
}
/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1920px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
}
textarea {
}
/* -------=SECTION-1=-------- */
.ba-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 54px;
}

.ba-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ba-header__logo img {
  display: block;
}
.ba-nav {
}

.ba-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.ba-nav__item {
  padding-left: 72px;
  line-height: 1;
}
.ba-nav__link {
  font: 400 22px/1 "Nunito Sans", sans-serif;
  color: #8f7685;
}
.ba-nav__link:hover {
  color: #44224b;
  text-decoration: none;
}
.ba-nav__link--list {
  position: relative;
}
.ba-nav__link--list::after {
  content: "";
  width: 11px;
  height: 6px;
  background-image: url(../img/list.png);
  position: absolute;
  top: 49%;
  right: -20px;
}
.ba-section {
  background: url(../img/left-square.png) no-repeat left bottom;
}
.ba-section__inner {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ba-nav__link--button {
  background-color: #723182;
  color: #ffffff;
  height: 54px;
  line-height: 10px;
  padding: 13px 55px;
  border-radius: 85px;
}
.ba-nav__link--button:hover {
  color: #ffffff;
  background-color: #fdc800;
}
.ba-menu-toggle {
	width: 40px;
	height: 24px;
	border: none;
 background: none;
 outline: none;
	border-radius: 0;
	-webkit-appearance: none;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	padding: 0;
 }
 .ba-menu-toggle::before,
 .ba-menu-toggle::after{
	 content: ' ';
 }
 .ba-menu-toggle::before,
 .ba-menu-toggle::after,
 .ba-menu-toggle span {
	display: block;
	width: 100%;
	height: 4px;
	background: #723182;
	transition: transform 0.3s, opacity 0.3s;
 }
 @media screen and (min-width: 1024px) {
	.ba-menu-toggle {
	  display: none;
	}
 }
 @media (max-width: 1023px) {
	.ba-nav {
	  position: fixed;
	  top: 0;
	  left: 0;
	  height: 100vh;
	  background: #fdc600ec;
	  z-index: 10;
	  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
	  width: 40%;
	  text-align: center;
	  padding: 0 30px;
	 
	  
	  transition: transform 0.3s, opacity 0.3s;
	  transform: translateX(-100%);
	}
	.ba-nav.open{
		transform: translateX(0);
		opacity: 1;
	}
	.ba-nav.open ~ .ba-menu-toggle::before{
	 transform: translateY(10px) rotate(-45deg);
	}
	.ba-nav.open ~ .ba-menu-toggle::after{
	 transform: translateY(-10px) rotate(45deg);
 }
 .ba-nav.open ~ .ba-menu-toggle span{
	 opacity: 0;
 }
	.ba-nav__list {
	  display: block;
	}
	.ba-nav__item {
	  padding: 0;
	}
	.ba-nav__item + .ba-nav__item {
	  margin-top: 20px;
	}
	.ba-nav__link {
	  font-size: 24px;
	  text-transform: uppercase;
		font: 700 22px/1.3 "Nunito Sans", sans-serif;
		color: #723182;
	}
	.ba-nav__link--button {
	  text-align: center;
	  text-transform: none;
	  font-size: 20px;
	  color: #ffffff;
	}
 }
.ba-search {
  position: relative;
  width: 78%;
  overflow: hidden;
  border-radius: 50px;
}
.ba-search__field {
  width: 100%;
  padding: 23px 65px;
  border: none;
  background-color: #f4eef5;
}
.ba-search__field:hover,
.ba-search__field:focus,
.ba-search__field:active {
  outline: none;
  background: #fff0b3;
}
.ba-search__button {
  position: absolute;
  top: 21px;
  right: 15px;
  border: none;
  background: transparent;
}
.ba-search__icon {
  width: 36px;
  height: 36px;
  fill: #8a748f;
}
.ba-search__icon:hover {
  transform: scale(1.2);
}
input[type="search"]::-webkit-input-placeholder {
  color: #bbb0bd;
}
input[type="search"]::-moz-placeholder {
  color: #bbb0bd;
}
/* -------=SECTION-2=-------- */
.ba-resources {
  padding: 156px 156px 150px;
  height: 100vh;
  background: url(../img/right-square.png) no-repeat right 28vh;
}
.ba-resources__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ba-resources__title {
  text-align: center;
  font-size: 52px;
  margin-bottom: 100px;
}
.ba-yellow-text {
  color: #fdc800;
}
.ba-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.ba-card__icon {
  max-width: 140px;
  margin-bottom: 55px;
}

.ba-card__title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 32px;
  margin-bottom: 45px;
  text-align: center;
}

.ba-card__description {
  list-style: none;
  text-align: center;
  padding: 0;
}
@media screen and (max-width: 640px) {
  body {
    background: url(../img/bg-m.png) no-repeat right top;
    background-size: 100vw;
  }
  .ba-section__inner {
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }
  .ba-nav{
	width: 70%;
	padding-top: 50px;
  }
  h1 {
    font-size: 35px;
    line-height: 1.3;
  }
  p {
    font-size: 20px;
    line-height: 1.2;
    color: #7c5685;
  }
  .ba-search {
    width: 100%;
    border: 1px solid #44224b;
  }
  .ba-search__field {
    padding: 15px 35px;
  }
  input[type="search"]::placeholder {
    color: #bbb0bd;
    font-size: 16px;
  }
  .ba-search__button {
    top: 13px;
    right: 15px;
  }
  .ba-section {
    background: transparent;
  }
  .ba-resources__title {
    font-size: 40px;
    margin-bottom: 50px;
  }
  .ba-resources {
    padding: 20px 20px 20px;
    background: transparent;
  }
  .ba-resources__item {
    width: 100%;
  }
  .ba-card__icon {
    margin-bottom: 45px;
    margin-top: 45px;
  }
  .ba-card__description {
    padding-top: 10px;
    font-size: 18px;
  }
  .ba-card__title {
    margin-bottom: 0;
    font-size: 25px;
  }
}
@media screen and (min-width: 650px) and (max-width: 1024px) {
  body {
    background-size: 33vh;
  }
  h1 {
    font-size: 40px;
    line-height: 1.4;
  }
  p {
    font-size: 25px;
    line-height: 1.2;
  }
  .ba-section {
    background: url(../img/left-square.png) no-repeat left 43vh;
    background-size: 5vh;
  }
  .ba-nav{
	padding-top: 50px;
  }
  .ba-section__inner {
    width: 65%;
   min-height: 50vw;
    padding-left: 50px;
    margin-top: 100px;
  }
  .ba-section__intro{
	width: 85%;
	margin-top: -20px;
  }
  .ba-search {
    width: 80%;
	 border: 1px solid #44224b;
	 margin-top: -20px;
  }
  .ba-search__field {
    padding: 15px 35px;
  }
  .ba-search__button {
    top: 12px;
    right: 15px;
  }
  input[type="search"]::placeholder {
    color: #bbb0bd;
    font-size: 18px;
  }
  .ba-resources {
    background: url(../img/right-square.png) no-repeat right 28vh;
    background-size: 5vh;
    padding: 0 25px 0;
  }
  .ba-resources__title {
    margin-bottom: 0;
    margin-bottom: 55px;
    margin-top: 55px;
  }
  .ba-resources__item {
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}