@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Nunito+Sans:wght@400;600;700;800&family=Playfair+Display:wght@700&display=swap");
@import "normalize.scss";
@import "layout.scss";

body {
  background: url(../img/image-left.png) no-repeat right top;
  background-size: 54vw;
  font: 400 22px/1.9 "Nunito Sans", sans-serif;
  color: #968fab;

  @media screen and (max-width: 640px) {
    background: url(../img/bg-m.png) no-repeat right top;
    background-size: 100vw;
  }
  @media screen and (min-width: 641px) and (max-width: 1024px) {
    background-size: 33vh;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Playfair Display", serif;;
  color: #44224b;
  margin: 0 0 0 0;
}
h1 {
  font: 800 77px/1.3 "Playfair Display", serif;
  letter-spacing: 0.007em;
  margin: 25px 0;
  &:hover {
    color: #44224b;
  }
  @media screen and (max-width: 640px) {
    font-size: 35px;
    line-height: 1.3;
  }
  @media screen and (min-width: 641px) and (max-width: 1024px) {
    font-size: 40px;
    line-height: 1.3;
  }
}
h2 {
	margin: 0 0 0 0;
  @media screen and (max-width: 640px) {
    font-size: 35px;
    line-height: 1;
    margin: 0 0 0 0;
  }
  @media screen and (min-width: 641px) and (max-width: 1024px) {
    font-size: 40px;
    line-height: 1.3;
  }
}
h4 {
  margin: 0 0 0 0;
}
a {
  text-decoration: none;
}
p {

  @media screen and (max-width: 640px) {
    font-size: 18px;
    color: #7c5685;
    padding-bottom: 15px;
  }
  @media screen and (min-width: 641px) and (max-width: 1024px) {
    font-size: 25px;
    line-height: 1.2;
    padding-bottom: 25px;
  }
}

/* Layout */
.ba-container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1645px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button {
  display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
}
textarea {
}
/* -------=SECTION-1=-------- */
.ba-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 78px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    & img {
      display: block;
    }
  }
}
.ba-nav {
  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    @media (max-width: 1023px) {
      display: block;
    }
  }
  &__item {
    padding-left: 78px;
	 line-height:1;
    @media (max-width: 1023px) {
      padding: 0;

      & + & {
        margin-top: 15px;
      }
    }
  }
  &__link {
    font: 400 22px/1 "Nunito Sans", sans-serif;
	 color: #8f7685;
    &:hover {
      color: #44224b;
      text-decoration: none;
    }
    @media (max-width: 1023px) {
      font-size: 24px;
      text-transform: uppercase;
      font: 700 22px/1.3 "Nunito Sans", sans-serif;
      color: #723182;
    }
    &--list {
      position: relative;

      &::after {
        content: "";
        width: 11px;
        height: 6px;
        background-image: url(../img/list.png);
        position: absolute;
        top: 49%;
        right: -20px;
      }
    }
    &--button {
      background-color: #723182;
      color: #ffffff;
      height: 54px;
      padding: 13px 52px;
      border-radius: 85px;
      background-color: #723182;

      &:hover {
        color: #ffffff;
        background-color: #fdc800;
      }
      @media (max-width: 1023px) {
        text-align: center;
        text-transform: none;
        font-size: 20px;
        color: #ffffff;
      }
    }
  }
  @media (max-width: 1023px) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #fdc600ec;
    z-index: 10;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
    width: 40%;
    text-align: center;
    padding: 0 30px;

    transition: transform 0.3s, opacity 0.3s;
    transform: translateX(-102%);

    &.open {
      transform: translateX(0);
      opacity: 1;

      & ~ .ba-menu-toggle::before {
        transform: translateY(10px) rotate(-45deg);
      }

      & ~ .ba-menu-toggle::after {
        transform: translateY(-10px) rotate(45deg);
      }

      & ~ .ba-menu-toggle span {
        opacity: 0;
      }
    }
  }
  @media screen and (max-width: 640px) {
    width: 70%;
    padding-top: 50px;
  }
}
.ba-section {
  background: url(../img/left-square.png) no-repeat left bottom;
  padding: 70px 0;

  @media screen and (max-width: 640px) {
    background: transparent;
  }
  @media screen and (min-width: 641px) and (max-width: 1024px) {
    background: url(../img/left-square.png) no-repeat left 43vh;
    background-size: 5vh;
  }
  &__intro {
	  font-size: 28px;
	  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.6px;
    @media screen and (min-width: 641px) and (max-width: 1024px) {
      width: 85%;
    }
  }
  &__inner {
	 width: 70%;
	 min-height: 100vh;
    display: flex;
    flex-direction: column;
	 justify-content: center;

    @media screen and (max-width: 640px) {
      width: 100%;
      min-height: 75vh;
      text-align: center;
      padding-top: 50px;
    }
    @media screen and (min-width: 641px) and (max-width: 1024px) {
      width: 65%;
      min-height: 25vw;
      padding-left: 50px;
      padding-top: 120px;
    }
  }
  &__link {
    &--button {
      background-color: #723182;
      color: #ffffff;
      height: 54px;
      line-height: 1;
      padding: 13px 55px;
      border-radius: 85px;

      &:hover {
        color: #ffffff;
        background-color: #fdc800;
      }
    }
  }
}
.ba-menu-toggle {
  width: 40px;
  height: 24px;
  border: none;
  background: none;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;

  &::before,
  &::after {
    content: " ";
  }
  &::before,
  &::after,
  & span {
    display: block;
    width: 100%;
    height: 4px;
    background: #723182;
    transition: transform 0.3s, opacity 0.3s;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}
.ba-search {
  position: relative;
  width: 60%;
  overflow: hidden;
  border-radius: 50px;
  margin-top: 40px;

  @media screen and (max-width: 640px) {
    width: 100%;
    border: 1px solid #44224b;
  }
  @media screen and (min-width: 650px) and (max-width: 1024px) {
    width: 80%;
    border: 1px solid #44224b;
    margin-top: -20px;
  }
  &__field {
    width: 100%;
    padding: 23px 65px;
    border: none;
    background-color: #f4eef5;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      background: #fff0b3;
    }
    @media screen and (max-width: 640px) {
      padding: 15px 35px;
    }
    @media screen and (min-width: 650px) and (max-width: 1024px) {
      padding: 15px 35px;
    }
  }
  &__button {
    position: absolute;
    top: 21px;
    right: 15px;
    border: none;
    background: transparent;

    @media screen and (max-width: 640px) {
      top: 13px;
      right: 15px;
      &:hover {
        outline: none;
      }
    }
    @media screen and (min-width: 650px) and (max-width: 1024px) {
      top: 12px;
      right: 15px;
      &:hover {
        outline: none;
      }
    }
  }
  &__icon {
    width: 36px;
    height: 36px;
    fill: #8a748f;

    &:hover {
      transform: scale(1.2);
    }
  }
}
input[type="search"]::-webkit-input-placeholder {
  color: #bbb0bd;
}
input[type="search"]::-moz-placeholder {
  color: #bbb0bd;
}
/* -------=SECTION-2=-------- */
.ba-resources {
  background: url(../img/right-square.png) no-repeat right 14vh;
  margin: 15.2% 0 0 0;
  min-height: 72vh;

  @media screen and (max-width: 640px) {
	 background: transparent;}
	 
@media screen and (max-width: 641px) and (max-width: 1024px) {
    background: url(../img/right-square.png) no-repeat right 28vh;
    background-size: 5vh;
    padding: 0 25px 0;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    text-align: center;
    font-size: 52px;
    line-height: 1;
    padding-bottom: 97px;

    @media screen and (max-width: 640px) {
      font-size: 40px;
      padding-bottom: 0;
      padding-top: 0;
    }

    @media screen and (min-width: 641px) and (max-width: 1024px) {
      padding-bottom: 0;
      padding-top: 50px;
    }
  }
  &__item {
	  padding: 50px 0;
    @media screen and (max-width: 640px) {
      width: 100%;
    }
    @media screen and (min-width: 641px) and (max-width: 1024px) {
      width: 50%;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
}
.ba-yellow-text {
  color: #fdc800;
}
.ba-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    max-width: 140px;
    margin-bottom: 43px;
    @media screen and (max-width: 640px) {
      margin-bottom: 45px;
      margin-top: 45px;
    }
  }
  &__title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    line-height: 1;
    text-align: center;
    margin-bottom: 22px;
    @media screen and (max-width: 640px) {
      margin-bottom: 0;
      font-size: 25px;
    }
  }
  &__description {
    list-style: none;
    text-align: center;
    padding: 0;

    @media screen and (max-width: 640px) {
      padding-top: 10px;
      font-size: 18px;
    }
  }
}
.ba-libraries {
  background: url(../img/libraries.png) no-repeat top left;
  background-size: contain;
  margin: 50px 0;
  text-align: center;
  @media screen and (min-width: 640px) {
	background-size: 45%;
	text-align: left;
	margin-top: 50px;
	min-height: 25vh;
 }
@media screen and (min-width: 1026px) {
	 background-size: 49%;
	 min-height: 93vh;
	 text-align: left;
}
  &__row {
	display: flex;
	flex-direction: column;

 @media screen and (min-width: 640px) {
	  flex-direction: row;
	  justify-content: flex-end;
	}
  }
  &__col{
	width: 100%;
	@media screen and (min-width: 640px) {
		width: 50%;
	 }
	@media screen and (min-width: 1026px) {
		  width: 40%;
		}
	}
  &__content {
	padding-top: 90%;
	padding-right: 0;

 @media screen and (min-width: 640px) {
	padding-top: 0;
 }
 @media screen and (min-width: 1026px) {
	 padding: 130px 100px 0 0;
}
  }
&__title {
	text-align: center;
	padding-bottom: 15px;

	@media screen and (min-width: 640px) {
		font-size: 30px;
  }
	@media screen and (min-width: 1026px) {
		  text-align: left;
		  font-size: 52px;
		}
 }
 &__description{
	line-height: 1.9;
 @media screen and (min-width: 640px) {
	font-size: 18px;
}
 @media screen and (min-width: 1026px) {
	  margin-bottom: 87px;
	  font-size: 22px;
	}
}
	&__button{
		border-radius: 32px;
  background-color: #723182;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 25px;
  border: 1px solid #723182;
  text-decoration: none;
  @media screen and (min-width: 1024px) {
    padding: 15px 45px;
    font-size: 18px;
  }
  @media screen and (min-width: 1440px) {
    padding: 18px 65px;
    font-size: 20px;
  }
  &:hover {
	color: #ffffff;
	background-color: #fdc800;
  }
	}
 }
 .ba-container--small{
	max-width: 1350px;
 }
.ba-books{
	&__title{
		text-align: center;
		margin-bottom: 50px;

	@media screen and (min-width: 640px) {
		font-size: 25px;
  }
	@media screen and (min-width: 1026px) {
		  text-align: center;
		  font-size: 52px;
		  padding-bottom: 20px;
		}
	}
	&__main-col{
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		padding: 0;
	}
	&__row{
		padding: 30px;
  counter-increment: ba-counter;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(197, 197, 197, 0.3);
  transition: box-shadow 0.3s;
  justify-content: flex-start;
  @media screen and (min-width: 1026px) {
    padding: 30px 74px 30px 67px;
  }
  &:hover {
	 box-shadow: 0 40px 70px rgba(197, 197, 197, 0.3);
	 transition: box-shadow 0.3s;
  }

  & + & {
    margin-top: 20px;
    @media screen and (min-width: 1440px) {
      margin-top: 30px;
    }
  }
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (min-width: 640px) {
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
		 }
	}
	&__nwrap{
		display: flex;
		max-width: 100%;
		flex-direction: column;
		justify-content: flex-start;
		@media screen and (min-width: 640px) {
			width: 30%;
		 }
		 @media screen and (min-width: 1026px) {
			width: 30%;
		 }

	}
	&__b-cont{
text-align: center;
	}
	&__button{
		border-radius: 32px;
		background-color: #723182;
		color: #ffffff;
		font-size: 14px;
		padding: 10px 25px;
		border: 1px solid #723182;
		text-decoration: none;
		@media screen and (min-width: 1024px) {
		  padding: 15px 45px;
		  font-size: 18px;
		}
		@media screen and (min-width: 1440px) {
		  padding: 18px 65px;
		  font-size: 20px;
		}
		&:hover {
		 color: #ffffff;
		 background-color: #fdc800;
		}

	}

}
.ba-book{
&__name{
	font-weight: 700;
	font-size: 24px;
	line-height: 1.4;
	font-family: "Nunito Sans", sans-serif;
	text-align: center;
	color: #091e40;
	@media screen and (min-width:640px){
		font-size: 24px;
		text-align: left;
	}
	@media screen and (min-width: 1026px) {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.4;
		text-align: left;
	 }
}
&__rate{
	width: 100%;
	display: flex;
	justify-content: center;
	@media screen and (min-width:640px){
		width: 15%;
	}
}
&__author{
	font-size: 18px;
	line-height: 1.6;
	font-family: "Nunito Sans", sans-serif;
	text-align: center;
	padding-bottom: 13px;
	margin: 0;

	@media screen and (min-width:640px){
		font-size: 18px;
	line-height: 1.6;
	font-family: "Nunito Sans", sans-serif;
	text-align: left;
	}
	@media screen and (min-width: 1026px) {
		font-size: 30px;
	line-height: 1.6;
	font-family: "Nunito Sans", sans-serif;
	text-align: left;
	 }
}
	&__star{
		fill: rgb(253, 200, 0);
		padding-right: 5px;
	}
	&__price{
		font-size: 25px;
		line-height: 1.6;
		font-weight: 800;
		color: #091e40;
		align-self: center;
		margin: 20px 0;
		@media screen and (min-width:640px){
			margin: 0 0;
			font-size: 40px;
			align-self: flex-start;
		}
	}
}
.ba-mob-lib{
	background: url(../img/mob-lib.png) no-repeat top right;
	background-size: contain;
	margin: 10% 0;
	text-align: center;
	@media screen and (min-width: 640px) {
		background-size:52%;
	 text-align: left;
  }
  @media screen and (min-width: 1026px) {
}
  &__wrap{
	  display: flex;
	  flex-direction: column;
	  padding-top: 125%;
	  width: 100%;
  @media screen and (min-width: 640px) {
	padding-top: 0;
	width: 50%;
 }
 @media screen and (min-width: 1026px) {
	 width: 40%;
	 padding-left: 120px;
	 padding-top: 188px;
	 min-height: 105vh;
}
}
&__title {
	text-align: center;
	padding-bottom: 20px;
	

	@media screen and (min-width: 640px) {
		font-size: 30px;
  }
	@media screen and (min-width: 1026px) {
		  text-align: left;
		  font-size: 52px;
		  line-height: 1.5;
		}
 }
 &__download{

	 a+a{
		padding-left:30px;
	 }
 }
 &__description{
	line-height: 1.9;
 @media screen and (min-width: 640px) {
	font-size: 18px;
	line-height: 1.9;
}
 @media screen and (min-width: 1026px) {
	margin-bottom: 75px;
	  font-size: 21px;
	}
}

}
.ba-footer {
	overflow: hidden;
	margin-left: 20px;
	&__top {
	  margin-bottom: 30px;
	  position: relative;
	  @media screen and (min-width: 425px) {
		 display: grid;
		 grid-template-columns: 1fr 1fr;
	  }
	  @media screen and (min-width: 768px) {
		 grid-template-columns: 1fr 1fr 1fr 1fr;
	  }
	  @media screen and (min-width: 1440px) {
		 grid-template-columns: 306px 262px 280px 250px 210px;
	  }
 
	  &:after {
		 content: '';
		 position: absolute;
		 bottom: -15px;
		 left: -100%;
		 right: -100%;
 
		 border-bottom: 1px solid rgba($color: #000000, $alpha: 0.15);
	  }
	}
	&__logo-wrap {
	  @media screen and (min-width: 425px) {
		 grid-column: 1/3;
	  }
	  @media screen and (min-width: 768px) {
		 grid-column: 1/5;
	  }
	  @media screen and (min-width: 1440px) {
		 grid-column: 1/2;
		 padding-left: 15px;
	  }
	}
	&__logo {
	  display: inline-block;
	  margin-bottom: 30px;
 
	  img {
		 width: 100px;
		 @media screen and (min-width: 1440px) {
			width: 142px;
		 }
	  }
	}
	&__col {
	}
	&__nav {
	}
	&__main-link {
	  color: #44224b;
	  font-family: 'Nunito Sans';
	  font-weight: 600;
	  font-size: 18px;
	  text-decoration: none;
	  @media screen and (min-width: 1440px) {
		 font-size: 22px;
	  }
	  &:hover {
		 color: rgba($color: #723182, $alpha: 0.6);
	  }
	}
	&__links {
	  list-style: none;
	  padding-left: 0;
	  a {
		 text-decoration: none;
		 color: rgba($color: #80868f, $alpha: 0.6);
		 line-height: 1.5;
 
		 &:hover {
			color: #44224b;
		 }
	  }
	}
	&__bottom {
	  @media screen and (min-width: 500px) {
		 display: flex;
		 justify-content: space-around;
		 align-items: center;
	  }
	  @media screen and (min-width: 1440px) {
		 width: 50%;
		 margin: 0 auto;
	  }
	}
	&__social-media {
	  display: flex;
	  justify-content: space-between;
	}
	&__social-link {
	  background-color: #723182;
	  border: 1px solid #723182;
	  width: 36px;
	  height: 36px;
	  border-radius: 50%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  fill: #fff;
	  @media screen and (min-width: 500px) {
		 & + & {
			margin-left: 20px;
		 }
	  }
	  &:hover {
		 
		 .ba-icon {
			color: #723182;
		 }
	  }
	}
 }
 
@media screen and (max-width: 640px) {
  input[type="search"]::placeholder {
    color: #bbb0bd;
    font-size: 16px;
  }
}
@media screen and (min-width: 650px) and (max-width: 1024px) {
  input[type="search"]::placeholder {
    color: #bbb0bd;
    font-size: 18px;
  }
}
